<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<app-header></app-header>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Crear cuenta</h4>
	<p>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Iniciar sesión mediante Facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">O</span>
    </p>
	<form>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Nombre Completo" type="text">
    </div>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Correo Electrónico" type="email">
    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select class="custom-select" style="max-width: 120px;">
		    <option value="1">+52</option>
		    <option value="2">+1</option>
		</select>
    	<input name="" class="form-control" placeholder="Teléfono" type="text">
    </div>

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Contraseña" type="password">
    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Repite Contraseña" type="password">
    </div>                                       
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Crear Cuenta </button>
    </div>    
    <p class="text-center">¿Tienes una Cuenta? <a routerLink="/login">Inicia Sesión</a> </p>                                                                 
</form>
</article>
</div>
<br>
<br>
<br>
<br>

<app-footer></app-footer>
