<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <a class="navbar-brand logo" routerLink="/home"><img src="./assets/logo.png" width="80px" alt="" /></a>

    <button class="navbar-toggler" style="background-color: rgba(0, 0, 0, 0.2);" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">Acerca de nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prices">Precios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comienza ahora
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/login">Inicia sesión</a>
            <a class="dropdown-item" routerLink="/register">Registrate ahora</a>
        
          </div>
        </li>
      </ul>
    </div>
  </nav>

  