<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">¡Es hora de comenzar a proteger tu motocicleta!</h1>
      <p>La información que dio a conocer la Procuraduría fue que las motos más robadas en México han sido de las marcas Italika, Honda, Yamaha y KTM. Muchas veces estas motocicletas han sido encontradas en terrenos baldíos y casi siempre cuentan con las refacciones, es decir que se utilizan para uso personal del ladrón o cometer algún otro crimen, un porcentaje mínimo es de la venta ilegal de refacciones robadas, es decir muchas motocicletas se encuentran en deshuesaderos sin refacciones y éstas llegan a dar en tianguis o mercados negros.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Protegete ahora »</a></p>
    </div>
  </div>