<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<app-header></app-header>
<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
            
          <h1 class="display-4">Uno Security Cuu</h1>
          <p class="lead text-muted mb-0">Seguridad al alcance de todos.</p>
          <p class="lead text-muted">Puedes encontrar nuestra aplicación en google play y app store, mas información en : <a href="https://github.com/Team-TID51M-MarcosErickDaniel" class="text-muted"> 
                      <u>Uno Security Cuu</u></a>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="./assets/images/App-Store-and-Play-Market-icons.jpg" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">El equipo de desarrollo esta formado por tres integrantes.</h2>
          <p class="font-italic text-muted mb-4">Erick Dávila, Marcos Caballero, Daniel Vaquera y nuestro desarrollo es gracias a el framwork Angular.</p><a href="https://github.com/Team-TID51M-MarcosErickDaniel" class="btn btn-light px-5 rounded-pill shadow-sm">Acerca de nosotros</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="./assets/images/logo-angular.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="./assets/images/logo-arduino.png" alt="" class="img-fluid"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Utilizamos tecnológia Arduino</h2>
          <p class="font-italic text-muted mb-4">Gracias a la comunidad open-source de arduino, se logró el desarrollo de la nuestro proyecto.</p><a href="https://www.arduino.cc" class="btn btn-light px-5 rounded-pill shadow-sm">Acerca De Arduino</a>
        </div>
      </div>
    </div>
  </div>
 <br>

  
      
<app-footer></app-footer>